* {
  font-family:Arial, Helvetica, sans-serif
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: rgb(43, 43, 43);
}

.nav-bar ul {
  justify-content: center;
  list-style: none;
  display: flex;
}

.nav-bar ul li {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: large;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.logo {
  height: 3rem;
  display: flex;
}

.title {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-top:-2px;
  margin-bottom: -2px;
  color:#fdff7d;
}

.titlebox {
  display: flex;
  flex-direction: row;
  align-items:center;
}

.player {
  justify-content: center;
  padding: 1rem 2rem;
  color: white;
  background-color: black;
}

.player-box {
  margin: auto;
  justify-content: center;
  padding: 1rem 2rem;
  color: white;
  background-color: black;
  max-width: 50rem;
}

.player-link {
  text-align: center;
}

.player-link p {
  color: white;
}

.player-link a {
  color: white;
}

.player h2 {
  color: white;
  text-align: center;
}

.season-select {
  justify-content: center;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: black;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}

.hidden-button {
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  height: 2rem;
}

.info-text {
  text-align: center;
}

.team {
  display: flex;
  flex-direction: column;
  background: rgb(43, 43, 43);
  max-width: 90%;
  min-width: min(700px, 100%);
  margin: 1rem;
}

.divisions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  color: white;
  padding: 0rem 2rem;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

a {
  color: white;
  text-decoration: underline;
}

.center {
  text-align: center;
}

.split-para {
  display: inline-block;
  max-width: 30rem;
  min-width: 20rem;
  text-align: center;
  justify-content: center;
}

.split-para a {
  display:block;
  float:left;
  text-align:left;
}

.split-para span {
  display:block;
  float:right;
  width: 5rem;
  text-align: right;
}

.team-link {
  text-align: center;
}

.split-para-full {
  display: inline-block;
  max-width: 90%;
  min-width: 50%;
  text-align: center;
  justify-content: center;
}

.split-para-full a {
  display:block;
  float:left;
  text-align:left;
}

.split-para-full span {
  display:block;
  float:right;
  text-align: right;
}

.red-text {
  color: red;
}

.game-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-panel {
  background: rgb(43, 43, 43);
  display: inline-block;
  max-width: 400px;
  min-width: 400px;
  justify-content: center;
  margin: 0.5rem;
  border-radius: 1rem 1rem 1rem 1rem;
}

.split-para-old {
  display: block;
  margin: 10px;
}

.split-para-old span {
  display: block;
  float: right;
  margin-left: 10px;
}

.right {
    text-align: right;
}

.base-one {
  transform: translate(-5px, 50px);
}

.base-two {
  transform: translate(10px, 15px);
}

.base-three {
  transform: translate(25px, 50px);
}

.inline {
  position: absolute;
}

.row {
  float: initial;
}

.mod-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem 1rem 1rem 1rem;
  justify-content: space-around;
}

.mod-container .mod {
  background: rgb(43, 43, 43);
  display: block;
  max-width: 480px;
  min-width: min(480px, 100%); 
  border-radius: 1rem 1rem 1rem 1rem;
  margin: 0.5rem;
}

.mod-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrap-me {
  flex-wrap: wrap;
  justify-content: center;
}

.auto-marginer {
  margin: auto;
}

.dropdown {
  position: relative;
}

.menu {
  flex-direction: column;
  position: absolute;
  left: -30%;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 0px;
  width: auto;
}

.menu > li {
  margin: 0;
  padding: 3px;

  background: rgb(43, 43, 43);
}

.menu > li:hover {
  background: rgb(35, 35, 35);
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  background: rgb(43, 43, 43);
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}